*{
    margin: 0;
    padding: 0;
    list-style: none;
}
a{
    text-decoration: none;
}
body{
    font-family: Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft Yahei,\\5FAE\8F6F\96C5\9ED1,Arial,sans-serif;
    font-size: 14px;
}

.task6-box {
    max-width: 7.2rem;
    margin: 0 auto; 
}
.container {
    padding: 0 0.3rem;
}

/*header部分*/
.header {
    background: #5fc0cd;
    height: 0.9rem;
    display: flex;
    align-items: center;
}

.header-left {
    margin-right: 0.42rem;
}

.header-center {
    flex: 1;
    font-size: 0.32rem;
/*    background: orange; */
    display: flex;
    justify-content: center;
}

.header-center span:nth-child(1) {
    color: #ffffff;
    background: #55a8b3;
    height: 0.7rem;
    width: 1.4rem;
    text-align: center;
    line-height: 0.7rem;
    border-radius: 10%;
}

.header-center span:nth-child(2) {
    color: #55a8b3;
    background: #ffffff;
    height: 0.7rem;
    width: 1.4rem;
    text-align: center;
    line-height: 0.7rem;
    border-radius: 10%;
}

.header-logo img{
    width: 0.42rem;
    height: 0.44rem;
}

/*footer部分*/
.footer {
    position: fixed;
    bottom: 0;
    height: 1rem;
    background: #f8fafb; 
 /*   background-color: sandybrown; */
    display: flex;
    width: 100%;
    border-top: 1px solid #ccc;
 /*   text-align: center;  */
    font-size: 16px;
}

.footer-icon {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.footer .footer-icon .footer-home {
    display: block;
    width: 0.46rem;
    height: 0.40rem;
    background: url("http://118.126.113.248/jnshu790/CSS-Task/task6/footer-home.png") /* orchid */no-repeat;
    background-size: 100% auto; 
    margin-bottom: 0.1rem;

}

.footer .footer-icon:nth-child(1) span {
    color: #5fc0cd;
}

.footer .footer-icon .footer-center {
    display: block;
    width: 0.94rem;
    height: 0.94rem;
    background: url("http://118.126.113.248/jnshu790/CSS-Task/task6/footer-center.png") no-repeat;
    background-size: 100% auto;
}

.footer .footer-icon .footer-mine {
    display: block;
    width: 0.46rem;
    height: 0.40rem;
    background: url("http://118.126.113.248/jnshu790/CSS-Task/task6/footer-mine.png")  no-repeat;
    background-size: 100% auto; 
    margin-bottom: 0.1rem;
}

.footer .footer-icon:nth-child(3) span {
    color: #adadae;
}


.drop-down {
 /*   background: orangered; */
    height: 0.8rem;
    border-bottom: 1px solid #cccccc;
    display: flex;
    font-size: 0.26rem;
    color: #afbac0;
    text-align: center;
    align-items: center;
}

.drop-down .drop-down-list {
    flex: 1;
    border-right: 1px solid #cccccc;
}

.drop-down .drop-down-icon {
    display: block;
    float: right;
    width: 0.14rem;
    height: 0.08rem;
    background: url("http://118.126.113.248/jnshu790/CSS-Task/task6/drop-down-icon.png") no-repeat;
    background-size: 100% auto;
    margin-top: 0.18rem;
    margin-right: 0.12rem;
}

.items {
/*    background:seagreen; 
    height: 100px; */
}

.item {
    position: relative;
 /*   background: saddlebrown; */
    padding: 0.3rem 0;
}

.items .item-left p:nth-child(1) {
    font-size: 0.26rem;
    color: #afbac0;
    margin-bottom: 0.12rem;
}
.item .item-left p:nth-child(1) i {
    margin-right: 0.16rem;
}

.items .item-left p:nth-child(2) {
    font-size: 0.28rem;
    font-weight: 600;
    margin-left: 0.56rem;
    margin-bottom: 0.12rem;
}

.items .item-left p:nth-child(3) {
    font-size: 0.26rem;
    color: #afbac0;
}

.item .item-left p:nth-child(3) i {
    margin-right: 0.16rem;
}

.items .item-right {
    position: absolute;
    right: 0.5rem;
    top: 36%;
    font-size: 0.3rem;
    color: #f3afa5;
}

.items .item-next-logo {
    position: absolute;
    right: 0;
    top: 40%;
    width: 0.18rem;
    height: 0.32rem; 
}

.items .item-next-logo img {
    width: 100%;
}